body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: white;
  color: #588b88;
}

ul {
  list-style: none;
  padding: 0;
}

.checked {
  background: #588b88;
  color: white;
}

button {
  border: 4px solid #588b88;
  color: #588b88;
  font-size: 20px;
  background-color: transparent;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 10px;
  text-transform: lowercase;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

#recipe-list li:hover,
button:hover,
button:focus {
  background: #588b88;
  color: white;
}

#choices {
  margin: 20px 0;
}

.container {
  width: 900px;
  margin: auto;
  text-align: center;
}

#recipe-box {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

#recipe-list {
  width: 40%;
  cursor: pointer;
}

#recipe-list li {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  border: 4px solid #588b88;
  margin: 10px 0;
  font-size: 20px;
  border-radius: 10px;
}

#recipes {
  width: 45%;
}

#recipes > ul {
  display: none;
}

.ingredients {
  display: flex;
  border-left: 1px solid;
  margin-top: 10px;
  width: 100%;
  justify-content: stretch;
  text-transform: lowercase;
}

.ingredients ul {
  border-right: 1px solid;
  border-top: 1px solid;
}

.ingredients ul:first-child {
  flex-grow: 1;
}

.ingredients li {
  border-bottom: 1px solid;
  padding: 5px 10px;
  height: 19px;
}

li.header {
  font-size: 20px;
  padding: 10px;
  text-align: center;
  height: inherit;
}

.list-img {
  width: 100px;
  border-radius: 10%;
}

.recipe-img {
  width: 300px;
  border-radius: 10%;
}

.recipe-img-li {
  text-align: center;
  padding: 15px;
}

.name {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.bullet {
  list-style: circle;
}

.indent {
  width: 20px;
  display: block;
  height: 19px;
}
